.eslintcache
node_modules
.env

contracts/
.DS_Store
google-service-account.json
google-service-account-firebase.json
.turbo

out/

logs/


.sentryclirc
/src/generated/prisma

/generated/prisma

pro.txt
*.png
*.sol

*.csv

ecosystem.config.js

frames/
subtitles/
transcripts/
transcripts2/
*.ytt
*.srt
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm
*.m4v
*.m4a
*.m4b